ENVIRONMENT=test
DB_URL_TEST=sqlite:///./f1_test.db
DB_URL_DEVELOPMENT=postgresql+psycopg://USER:PASSWORD@HOST:PORT/DBNAME?sslmode=require
DB_URL_PRODUCTION=postgresql+psycopg://USER:PASSWORD@HOST:PORT/DBNAME?sslmode=require
